/* body{
    background-image: url("/bg.png");
    background-size: cover;
} */
.love i{
    border: 1px solid red;
    color: red;
    border-radius: 100px;
    padding: .5em;
    margin-top: 26px;
    font-size: 1em;
    text-align: right;
}

.open{
    float: right;
    font-size: 1em;
    border: 1px solid #02113a;
    /* background-color: #1D50DE; */
    background-color: #02113a;
    border-radius: 30px;
    font-weight: 500;
    padding: 4px 16px;
    color: #FFFAE4;
    transition: all .4s ease;
    margin-top:26px;
}
.open:hover {
    cursor: pointer;
    background-image: none;
    padding: 4px 16px;
    background-color: #396eff;
    border: 1px solid #396eff;
}



.header_area .navbar {
    background: #02113a;; 
}

.header_area .navbar .nav .nav-item.active .nav-link{
    color:#ffa600;
}


.nav-shop .button:hover {
    background: #d68d05;
    color: #FFFAE4;
}

.header_area .navbar .nav .nav-item .nav-link{
    color: #ffff;
}

.navbar-light .navbar-brand{
    color: white;
    font-weight: 700;
}

.header_area .navbar .nav .nav-item .nav-link:hover{
    color: #ffa600;
}

.navbar .container-fluid{
    padding-right: 0px;
    padding-left: 60px;
}

.user-profile{
    background-color:#020c29;
    width: 250px;
    height: 90px;
    display: flex;
    justify-content: center; 
    align-items: center;
    font-size: 1.1em;
}

.user-profile:hover{
    cursor: pointer;
}
.user-image i{
    border-radius: 100%;
    background-color: #1b2542;
    color: white;
    padding: 13px;
    border-radius: 100%;
}

.user-profile a{
    color: white !important;
    font-weight: 500;
    font-family: "poppins", sans-serif;
}


.navbar-light .navbar-toggler span{
    background: white !important;
    /* /* border-color: white !important; */
    /* background-color: white; */
}

.dropdown-menu{
    background-color:#020c29;
    min-width: 13rem;
    margin-left: -60px;
}

.dropdown-menu .nav-link:hover{
    background-color:#04164e;
}

.dashboard{
    margin-top: 5%;
}

.dashboard .container-fluid{
    width: 90%;
}

section h3{
    background-color: #02113a;
    color: white;
    padding: 1%;
    padding-left:2% ;
    font-size: 1.8em;
    font-weight: 600;
    font-family: "poppins", sans-serif;
}

.create_ticket{
    background-color: #ffff;
   border: 1px solid rgba(218, 218, 218, 0.274);
    height: 325px;
    transition: .2s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.create_ticket:hover{
    border: none;
    box-shadow: 0px 0px 50px 2px rgb(0, 0, 0,0.1);
    cursor: pointer;
}
.text{
    text-align: center;
    opacity: 0.4;
}
.create_ticket .plus{
    font-size: 3em;
    font-weight: 300;
    margin-bottom: -1rem;
}

.create_ticket .create-text{
    font-size: 1.3em;
    
}
/* .tick_img{
    width: 100px;
} */
.see_more :hover{
    
    color: #FFFAE4 !important;
}
.event img{
    max-width: 100%;
    width: 6em;
    height:6em;
    object-fit:cover;
    /* object-position: center; */
}
.table{
    color: black;
    overflow-x: scroll;
    background-color: #ffff;

}
.ticket table th{
    color: #1D50DE;
}

.tablehead{
    color: #1D50DE;
    font-family: "poppins", sans-serif;
    font-weight: 700;
}

.ticket tr td .event h4{
    font-size: 1em;
    font-family: "poppins", sans-serif;
    font-weight: 600;
    width: 60%;
    padding: 20px;
}

.event{
    display: flex;
    align-items: center;
}

.ticket tbody tr td:nth-of-type(1){
    width: 39%;
}

table p{
    margin-bottom: 0;
}

.table tbody tr td{
    /* background-color: red; */
    vertical-align: middle;
    border-top: none;
}


.table tbody tr td{
    border-bottom: 1px solid #eaecee;
    transition: all ease .3s;
}

.table tbody tr td:hover{
    box-shadow: 0px 1px 50px 2px rgba(97, 97, 97, 0.1);
    border-bottom:none;
    color: #1D50DE;
}

table tr td .status{
    color:#2BBB21;
    font-weight: 700;
    font-style: italic;
}
table tr td .status-red{
    color:#ff0000;
    font-weight: 700;
    font-style: italic;
}

table tr td a{
    color: black;
}
.ticket .options{
    background-color: white;
    /* padding: 1%; */
    /* border-radius: 10%; */
    transition: all ease .3s;
}
.ticket .options:hover{
    cursor: pointer;
    background-color: #1D50DE;
    color: white;
}
.ticket .options:hover a{
    color: white;
}

.table thead th{
    border-bottom: none;
}
.records .contain{
    width: 100%;
    padding-right: 5px;
    padding-left: 5px;
    margin-right: auto;
    margin-left: auto;
}
.event-record:hover{
    cursor: pointer;
}
.event-record{
    margin: 15px auto;
    width: 100%;
    background-color: #ffff;
    box-shadow: 0px 0px 50px 10px rgba(184, 184, 184, 0.3);
}
.event-record-body{
    /* width: 90%; */
    padding: 25px;
    
}

.event-record-header h3{
    color: #ffffff;
    background-color: #02113a;
    font-weight: 600;
    font-family: "poppins", sans-serif;
   padding: 15px;
   text-align: center;
   text-transform: uppercase;
}

.event-record-body .event h4{
    font-family: "poppins", sans-serif;
    font-size: .82em;
    padding-left: 15px;
   
}


.event-record-body .event img {
    max-width: 100%;
    width: 6em;
    height: 6em;
    object-fit: cover;
    /* object-position: center; */
    /* box-shadow: 0px 0px 50px 10px rgb(0, 0, 0,0.1); */
}




.event-record .progress{
    height: 5px;
    width: 70%;
}
.sales-progress-bar p{
    margin-bottom: 0rem ;
    font-size: 0.8em;
}

.event-record .progress-bar{
    background-color: #02113a;
}

.income p{
    color: #1D50DE;
    font-family:"poppins", sans-serif ;
    font-weight: 600;
    font-size: 0.9em;
    margin-bottom: -7px !important;
}
.income span{
    color: #02113a;
    font-weight: 400 ;
}
.record-info i{
    color: black;
    margin-top: 40px;
    padding: 7px;
    border-radius: 2px;
    text-align: center;
}

.record-info i:hover{
    background: #ebebeb;
}
.sold{
    color: #020c29;
    font-family:"poppins", sans-serif ;
    font-weight: 600;
    font-size: 0.9em;
    margin-bottom: -5px !important;
}

.status p{
    color: #1D50DE;
    font-family:"poppins", sans-serif ;
    font-weight: 600;
    font-size: 0.9em;
    margin-bottom: -7px !important;
}
.Onsale{
    color: #2BBB21;
    font-family:"poppins", sans-serif ;
    font-weight: 800;
    font-style: italic;
    font-size: 0.9em;
}

.soldout{
    color: #F79645;
    font-family:"poppins", sans-serif ;
    font-weight: 800;
    font-style: italic;
    font-size: 0.9em;
}

.pending{
    color: #FF0000;
    font-family:"poppins", sans-serif ;
    font-weight: 800;
    font-style: italic;
    font-size: 0.9em; 
}





.filternav input{
    border-right: none !important;
    border: 1px solid #adadad;
}

.filternav .input-group .form-control:focus{
    border-right: none !important;
    border: 1px solid #adadad;
    box-shadow:none !important;
}
.filternav .input-group-addon{
    padding: 5px 9px 5px 5px;
    border-left:none !important ;
    border: 1px solid #adadad;
    border-radius:0rem .25rem .25rem 0rem;  
}

.filternav .input-group-addon:hover{
     cursor: pointer;
}
select{
    color: rgb(148, 148, 148) !important;
    border: 1px solid #adadad !important;
}

select option{
    color: #020c29;
}

/* purchase info style */


.purchase-info .event h4{
    font-size: 1.5em;
    font-family: "poppins", sans-serif;
    font-weight: 600;
    width: 40%;
    padding: 20px;
}

/* .purchase-info .status{
  text-align: right;
} */
.purchase-info .status p{
    color:rgb(34, 34, 34);;
    font-family: "poppins", sans-serif;
    font-weight: 700;
    font-size: 1.5em;
}

.purchase-info .status span{
    font-size: 1em;
    font-family: "poppins", sans-serif;
    font-weight: 800;
}

.purchase-info .starts p{
    color: #18191a;
    font-family: "poppins", sans-serif;
    font-weight: 400;
   margin-bottom: 0rem;
}

.starts h5,.ends h5, .location h5{
    color:rgb(34, 34, 34);;
    font-family: "poppins", sans-serif;
    font-weight: 700;
    margin-bottom: 0rem;
}

.purchase-info .ends p{
    color: #18191a;
    font-family: "poppins", sans-serif;
    font-weight: 400;
}

.purchase-info .location p{
    color: #18191a;
    font-family: "poppins", sans-serif;
    font-weight: 500;
}


.purchase-table h5{
    font-size: 1.7em;
    color: #02113a;
    font-family: "poppins", sans-serif;
    font-weight: 600;
    padding: 1%;
    text-transform:capitalize;
}

.purchase-table .table{
    overflow-x:auto;
}

.purchase-table td p{
    color: #18191a;
    font-family: "poppins", sans-serif;
    font-weight: 500;
}

.purchase-table .ticket-type p{
    font-weight: 600;
    font-size: 1.3em;
}

.purchase-table thead{
    border-bottom: 1px solid rgb(177, 177, 177);
    background-color: #02113a;
    color: #ffffff;
}

.ticketAmount p, .cost p{
    color: #1D50DE;
    font-family: "poppins", sans-serif;
    font-size: 2.9em;
    font-weight: 700;
    margin-bottom: 0rem;
    margin-top: -0.5rem;
}


.ticketAmount h5, .cost h5{
    color:rgb(34, 34, 34);;
    font-family: "poppins", sans-serif;
    margin-bottom: 0rem;
}

.boderbottom{
    margin-top: -9px;
    border-bottom: 1px solid #969696;
}

.information{
    color: #1D50DE;
    font-style: italic;
    font-weight: 600;
    margin-bottom: 0rem;
}




























@media (max-width: 575px){

    .navbar .container-fluid{
        padding-right: 15px;
        padding-left: 15px;
    }


    .header_area .navbar .nav-shop {
        padding-top:10px;
        padding-bottom:10px;

        }

     .nav-shop .button{
            margin-left: -35px;
        }

    .user-profile{
        height: 65px;
        margin-bottom: 10px;
        padding-left: 10px;
        background-color:#01238a;
        justify-content: left; 
        width: 100%;

    }

    .dropdown-menu{
        background-color:#020c29;
        min-width: 20rem;
        margin-left: -62px;
    }

    .header_area+div{
        margin-top:10%;
    }

    section h3{
        padding: 3%;
        /* padding-left:4% ; */
        text-align: center;
        font-size: 1.8em;
        font-weight: 600;
        font-family: "poppins", sans-serif;
    }
    .eventlist-content.mt-5{
        margin-top: 1rem !important;
    }

    .create_ticket{
        border-bottom: 2px solid #1D50DE;
        border-top: none;
        border-left: none;
        border-right: none;
        margin-bottom: 30px;
    }

    .ticket{
        min-width: 100%;
        overflow-x: scroll;
    }
    
    .ticket tr td .event h4 {
        width: 70%;
        padding:10px 200px 10px 30px;
        font-family: "poppins", sans-serif;
        font-weight: 600;
    }

    .event{
        width: 180%;
    }

    .records .event{
        width: 100% !important;
    }

    .records .contain{
        padding-right: 0px;
        padding-left: 0px;
    }
    .event-record{
        margin: 15px auto;
        width: 100%;
    }

    .event-record-body .event h4{
        font-size: 1em;
        padding-left: 15px;
       
    }

    .purchase-info .event{
        width: 100% !important;
    }

    .purchase-info .event h4{
        font-size: 1.2em;
        width: 100%;
        /* padding-left: 15px; */
       
    }

    
    

}